@model PagedList.IPagedList<RHEVENT.Models.Conge>
@using PagedList.Mvc
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.titre_page = "RH";
    ViewBag.email = ViewBag.email;
    ViewBag.nom_prenom = ViewBag.nom_prenom;
}



<h2 class="text" style="color:coral">
    <span class="glyphicon   glyphicon-list-alt"> </span>
    Congés - Mes Congés
</h2>
<br />


<div class="row m-t-30">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-top-campaign" id="table">
                <thead>
                    <tr>
                        <th>
                            @*class="badge badge-primary"*@
                            <span style="color:grey ; font-size:13px">     Date demande </span>
                        </th>
                        <th>
                            <span style="color:grey; font-size:13px">     J.Début </span>
                        </th>
                        <th>
                            <span style="color:grey ; font-size:13px">     H.Sortie </span>
                        </th>
                        <th>
                            <span style="color:grey ; font-size:13px">     J.Fin </span>
                        </th>
                        <th>
                            <span style="color:grey ; font-size:13px">       H.Entrée </span>
                        </th>
                        <th>
                            <span style="color:grey ; font-size:13px">    Réponse Supérieur </span>
                        </th>
                        <th>
                            <span style="color:grey ; font-size:13px">        Réponse RH </span>
                        </th>
                        <th></th>
                    </tr>

                </thead>

                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @*class="badge badge-light"*@
                                <span style="font-size:12px">       @Html.DisplayFor(modelItem => item.Date_emission_demande) </span>
                            </td>
                            <td>
                                <span style="font-size:12px">       @Html.DisplayFor(modelItem => item.jour_debut) </span>
                            </td>
                            <td>
                                <span style="font-size:12px">         @Html.DisplayFor(modelItem => item.heure_sortie) </span>
                            </td>
                            <td>
                                <span style="font-size:12px">      @Html.DisplayFor(modelItem => item.jour_fin) </span>
                            </td>
                            <td>
                                <span style="font-size:12px">     @Html.DisplayFor(modelItem => item.heure_entree) </span>
                            </td>
                            <td>
                                <span style="font-size:12px">    @Html.DisplayFor(modelItem => item.acceptation_superieur) </span>
                            </td>
                            <td>
                                <span style="font-size:12px">       @Html.DisplayFor(modelItem => item.acceptation_ressource) </span>
                            </td>

                            <td>
                                @if (item.acceptation_superieur == RHEVENT.Models.acceptation_superieur_hierarchique.Demande_en_cours)
                                {
                                    <span class="abdge badge-dark">  @Html.ActionLink("Editer", "UpdateCongeByUser", new { id = item.Id })</span>
                                }
                            </td>


                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>

</div>
 @*   Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
    @Html.PagedListPager(Model, page => Url.Action("Mes_conges", new { page, PagedListRenderOptions.ClassicPlusFirstAndLast }))
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

    <script>

        var length_table = document.getElementById("table").rows.length;
        for (var i = 1; i < length_table; i++) {
            var table_element = document.getElementById("table").rows[i].cells[6].innerText;

            var table_element = document.getElementById("table").rows[i].cells[5].innerText;
            var table_element_1 = document.getElementById("table").rows[i].cells[6].innerText;

            if (table_element == 'Demande_refusée') {
                document.getElementById("table").rows[i].cells[5].style.color = "red"
            }
            if (table_element == 'Demande_validée') {
                document.getElementById("table").rows[i].cells[5].style.color = "green"
            }
            if (table_element == 'Demande_en_cours') {
                document.getElementById("table").rows[i].cells[5].style.color = "blue"
            }


            if (table_element_1 == 'Demande_refusée') {
                document.getElementById("table").rows[i].cells[6].style.color = "red"
            }
            if (table_element_1 == 'Demande_validée') {
                document.getElementById("table").rows[i].cells[6].style.color = "green"
            }
            if (table_element_1 == 'Demande_en_cours') {
                document.getElementById("table").rows[i].cells[6].style.color = "blue"
            }

        }
    </script>

