@model IEnumerable<RHEVENT.Models.medicament>

@{

    ViewBag.titre_page = "Gestion des médicaments";
    ViewBag.email = ViewBag.email;
    ViewBag.nom_prenom = ViewBag.nom_prenom;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.code_medicament)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.designation_medicament)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.validation_prt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lien_image)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.code_medicament)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.designation_medicament)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.validation_prt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lien_image)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
