@model RHEVENT.Models.DA_Budget

@{
    ViewBag.Title = "Delete";
}

<h2>Reception </h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt style="width:200px">
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd style="margin-left:220px">
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt style="width:200px">
            @Html.DisplayNameFor(model => model.Article)
        </dt>

        <dd style="margin-left:220px">
            @Html.DisplayFor(model => model.Article)
        </dd>
        <dt style="width:200px">
            @Html.DisplayNameFor(model => model.Quantité)
        </dt>
        <dd style="margin-left:220px">
            @Html.DisplayFor(model => model.Quantité)
        </dd>

        <dt style="width:200px">
            @Html.DisplayNameFor(model => model.PrixUnitaire)
        </dt>

        <dd style="margin-left:220px">
            @Html.DisplayFor(model => model.PrixUnitaire)
        </dd>

        <dt style="width:200px">
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd style="margin-left:220px">
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt style="width:200px">
            @Html.DisplayNameFor(model => model.Fournisseur)
        </dt>

        <dd style="margin-left:220px">
            @Html.DisplayFor(model => model.Fournisseur)
        </dd>
        <dt style="width:200px">
            @Html.DisplayNameFor(model => model.Date_Recp_Souh)
        </dt>
        <dd style="margin-left:220px">
            @Html.DisplayFor(model => model.Date_Recp_Souh)
        </dd>


        <dt style="width:200px">
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd style="margin-left:220px">
            @Html.DisplayFor(model => model.Description)
        </dd>
        
    </dl>



    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    <dl class="dl-horizontal">
        <dt style="width:200px">
            @Html.DisplayNameFor(model => model.Date_Recp)
        </dt>

        <dd style="margin-left:220px">
            <input type="text" style="background-color:white" value="@DateTime.Now.Date.ToString("dd-MM-yyyy")" id="Date_recep" name="Date_recep" class="form-control" autocomplete="off" readonly="readonly" required="" />

        </dd>
        <dt style="width:200px;height:15px">
           
        </dt>

        <dd style="margin-left:220px">
            
        </dd>
        @if ((@Html.DisplayFor(model => model.Type)).ToString() == "Services")
        {
            <dt style="width:200px">
                @Html.DisplayNameFor(model => model.PourRecep)
            </dt>

            <dd style="margin-left:220px">
                <input type="number" min="0" max="100" value="100" step="1" oninput="this.value|=0" style="background-color:white" id="PourRecep" name="PourRecep" class="form-control" autocomplete="off" required="" />
            </dd>
        }
        else if ((@Html.DisplayFor(model => model.Type)).ToString() == "Materiels")
        {
            <dt style="width:200px">
                @Html.DisplayNameFor(model => model.QteRecue)
            </dt>

            <dd style="margin-left:220px">
                <input type="number" min="0" step="1" value=@Html.DisplayFor(model => model.Quantité) oninput="this.value|=0" style="background-color:white" id="QteRecue" name="QteRecue" class="form-control" autocomplete="off" required="" />
            </dd>
        }
    </dl>
            
            <div class="form-actions no-color">
                <input type="submit" value="Enregistrer" class="btn btn-default" /> |
                @Html.ActionLink(
             linkText: "Retour",
             actionName: "demande",
             controllerName: "DA_Demande"
             )
            </div>
            }
    </div>

@section Scripts
{

<script src="~/Scripts/jquery-ui.js"></script>
    @*<script src="~/Scripts/jquery-1.10.2.js"></script>*@
        <link href="~/css/jquery-ui.css" rel="stylesheet" />

        <script>
            $(document).ready(function () {
                $("#Date_recep").datepicker({
                    dateFormat: "dd-mm-yy",
                    minDate: -30

                });
            });
        </script>
        }
