@model RHEVENT.Models.DA_Materiels

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Désignation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Désignation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlafondBudget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlafondBudget)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Retour à la Liste", "Index")
</p>
