<!DOCTYPE html>
<html>
<head>
    @{ Layout = null;}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E KILANI GROUP</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    @*<script>setInterval(function () { alert("Hello"); }, 3000);</script>*@

    @*<script>
            setTimeout(function () {
                window.location.reload(1);
            }, 5000);  /*en millseconde*/
        </script>*@

    
    @*<link href="~/assets/css/styles.css" rel="stylesheet" />
    <link href="~/assets/countdown/jquery.countdown.css" rel="stylesheet" />
    <script src="~/assets/countdown/jquery-1.7.1.min.js"></script>
    <script src="~/assets/countdown/jquery.countdown.js"></script>
    <script src="~/assets/js/script.js"></script>*@
    <style>

        #mySidenav a {
            position: absolute;
            left: -10%;
            transition: 0.5s;
            padding: 15px;
            width: 13%;
            text-decoration: none;
            font-size: 20px;
            text-align: left;
            color: white;
            border-radius: 0 50px 50px 0;
        }

        #mySidenav1 a {
            position: absolute;
            padding: 10px;
            width: 100%;
            text-decoration: none;
            font-size: 20px;
            text-align: center;
            color: white;
        }

        #mySidenav a:hover {
            left: 0;
            border-radius: 0 50px 0 50px;
        }

        #about {
            top: 0px;
            background-color: #B6D8F0;
        }

        #blog {
            top: 50px;
            background-color: #2196F3;
        }

        #projects {
            top: 110px;
            background-color: #419C31;
        }
    </style>
</head>

<body>

    @{ string name = ViewBag.nom_prenom;
        name = name.ToUpper();}

    <div id="mySidenav1" class="sidenav">
        <a href="#" id="about">@name</a>
        @*<div id="countdown"></div>*@
    </div>

    <div id="mySidenav" class="sidenav">
        <a href="@Url.Action("LogOut", "Account")" id="blog">Déconnexion</a>
        <a href="@Url.Action("ChangePasswordByUser", "ApplicationUsers")" id="projects">Mon compte</a>
    </div>

  
   
    <div style="margin-left:15%">
        <center>
            @if (Request.IsAuthenticated)
            {


                if (User.IsInRole("Admin_Medicis"))
                {

                    <div style="margin-top:5%;float:left">

                        <a href="@Url.Action("Index","E_MenuAdmMedicis")" >
                            <img class="card-img-top img-circle" src="~/Content/images/AD4.png" style="width:130px;border-width:0px" />
                        </a>
                        <div>
                            <a href="@Url.Action("Index","E_MenuAdmMedicis")">
                                <h4>Administration</h4>
                            </a>
                        </div>

                    </div>

                }

                if (User.IsInRole("RH") || User.IsInRole("Admin_Medicis"))
                {
                    <div style="margin-left:3%;margin-top:5%;float:left">

                        <a href="@Url.Action("Index", "E_MenuRH" )">
                            <img class="card-img-top img-circle" src="~/Content/images/rhe2.png" style="width:130px;border-width:0px" />
                        </a>
                        <div>
                            <a href="@Url.Action("Index", "E_MenuRH" )">
                                <h4>RH EVENTS</h4>
                            </a>
                            
                        </div>

                    </div>

                }

                if (User.IsInRole("Admin_Medicis") || User.IsInRole("Elearning"))
                {

                    <div style="margin-left:3%;float:left;margin-top:5%;">

                        <a href="@Url.Action("Index", "E_MenuElearning" )">
                            <img class="card-img-top img-circle" src="~/Content/images/learn4.png" style="width:130px;border-width:0px" />
                        </a>
                        <div>
                            <a href="@Url.Action("Index", "E_MenuElearning" )">
                                <h4>E-learning</h4>                            </a>
                            
                        </div>

                    </div>

                }

                if (User.IsInRole("Admin_Medicis") || User.IsInRole("DA"))
                {

                    <div style="margin-left:3%;float:left;margin-top:5%;">

                        <a href="@Url.Action("Create", "DA_Demande" )">
                            <img class="card-img-top img-circle" src="~/Content/images/Achat.jpg" style="width:130px;border-width:0px" />
                        </a>
                        <div>
                            <a href="@Url.Action("Create", "DA_Demande" )">
                                <h4>Demande d'action</h4>                            </a>
                            
                        </div>

                    </div>

                }

                @*
                if (User.IsInRole("Admin_Medicis") || User.IsInRole("DA"))
                {

                    <div style="margin-left:3%;float:left;margin-top:5%;">
                        <a href="http://192.168.1.207/dc1/Accueil.aspx" target="_blank">

                            <img class="card-img-top img-circle" src="~/Content/images/change1.jpg" style="width:130px;border-width:0px" />
                        </a>
                        <div>
                            <h4>Dem Changement</h4>
                        </div>

                    </div>

                }

            if (User.IsInRole("Admin_Medicis") || User.IsInRole("DA"))
            {

                <div style="margin-left:3%;float:left;margin-top:5%;">
                    <a href="http://192.168.1.207/dc1/Accueil.aspx" target="_blank">

                        <img class="card-img-top img-circle" src="~/Content/images/change1.jpg" style="width:130px;border-width:0px" />
                    </a>
                    <div>
                        <h4>Dem Changement</h4>
                    </div>

                </div>

            }
            if (User.IsInRole("Admin_Medicis") || User.IsInRole("DA"))
            {

                <div style="margin-left:3%;float:left;margin-top:5%;">
                    <a href="http://192.168.1.207/dc1/Accueil.aspx" target="_blank">

                        <img class="card-img-top img-circle" src="~/Content/images/change1.jpg" style="width:130px;border-width:0px" />
                    </a>
                    <div>
                        <h4>Dem Changement</h4>
                    </div>

                </div>

            }
            if (User.IsInRole("Admin_Medicis") || User.IsInRole("DA"))
            {

                <div style="margin-left:3%;float:left;margin-top:5%;">
                    <a href="http://192.168.1.207/dc1/Accueil.aspx" target="_blank">

                        <img class="card-img-top img-circle" src="~/Content/images/change1.jpg" style="width:130px;border-width:0px" />
                    </a>
                    <div>
                        <h4>Dem Changement</h4>
                    </div>

                </div>

            }
            if (User.IsInRole("Admin_Medicis") || User.IsInRole("DA"))
            {

                <div style="margin-left:3%;float:left;margin-top:5%;">
                    <a href="http://192.168.1.207/dc1/Accueil.aspx" target="_blank">

                        <img class="card-img-top img-circle" src="~/Content/images/change1.jpg" style="width:130px;border-width:0px" />
                    </a>
                    <div>
                        <h4>Dem Changement</h4>
                    </div>

                </div>

            }
            if (User.IsInRole("Admin_Medicis") || User.IsInRole("DA"))
            {

                <div style="margin-left:3%;float:left;margin-top:5%;">
                    <a href="http://192.168.1.207/dc1/Accueil.aspx" target="_blank">

                        <img class="card-img-top img-circle" src="~/Content/images/change1.jpg" style="width:130px;border-width:0px" />
                    </a>
                    <div>
                        <h4>Dem Changement</h4>
                    </div>

                </div>

            }
            if (User.IsInRole("Admin_Medicis") || User.IsInRole("DA"))
            {

                <div style="margin-left:3%;float:left;margin-top:5%;">
                    <a href="http://192.168.1.207/dc1/Accueil.aspx" target="_blank">

                        <img class="card-img-top img-circle" src="~/Content/images/change1.jpg" style="width:130px;border-width:0px" />
                    </a>
                    <div>
                        <h4>Dem Changement</h4>
                    </div>

                </div>

            }
            if (User.IsInRole("Admin_Medicis") || User.IsInRole("DA"))
            {

                <div style="margin-left:3%;float:left;margin-top:5%;">
                    <a href="http://192.168.1.207/dc1/Accueil.aspx" target="_blank">

                        <img class="card-img-top img-circle" src="~/Content/images/change1.jpg" style="width:130px;border-width:0px" />
                    </a>
                    <div>
                        <h4>Dem Changement</h4>
                    </div>

                </div>

            }
            if (User.IsInRole("Admin_Medicis") || User.IsInRole("DA"))
            {

                <div style="margin-left:3%;float:left;margin-top:5%;">
                    <a href="http://192.168.1.207/dc1/Accueil.aspx" target="_blank">

                        <img class="card-img-top img-circle" src="~/Content/images/change1.jpg" style="width:130px;border-width:0px" />
                    </a>
                    <div>
                        <h4>Dem Changement</h4>
                    </div>

                </div>

            }
            if (User.IsInRole("Admin_Medicis") || User.IsInRole("DA"))
            {

                <div style="margin-left:3%;float:left;margin-top:5%;">
                    <a href="http://192.168.1.207/dc1/Accueil.aspx" target="_blank">

                        <img class="card-img-top img-circle" src="~/Content/images/change1.jpg" style="width:130px;border-width:0px" />
                    </a>
                    <div>
                        <h4>Dem Changement</h4>
                    </div>

                </div>

            }
            if (User.IsInRole("Admin_Medicis") || User.IsInRole("DA"))
            {

                <div style="margin-left:3%;float:left;margin-top:5%;">
                    <a href="http://192.168.1.207/dc1/Accueil.aspx" target="_blank">

                        <img class="card-img-top img-circle" src="~/Content/images/change1.jpg" style="width:130px;border-width:0px" />
                    </a>
                    <div>
                        <h4>Dem Changement</h4>
                    </div>

                </div>

            }
            if (User.IsInRole("Admin_Medicis") || User.IsInRole("DA"))
            {

                <div style="margin-left:3%;float:left;margin-top:5%;">
                    <a href="http://192.168.1.207/dc1/Accueil.aspx" target="_blank">

                        <img class="card-img-top img-circle" src="~/Content/images/change1.jpg" style="width:130px;border-width:0px" />
                    </a>
                    <div>
                        <h4>Dem Changement</h4>
                    </div>

                </div>

            }
            if (User.IsInRole("Admin_Medicis") || User.IsInRole("DA"))
            {

                <div style="margin-left:3%;float:left;margin-top:5%;">
                    <a href="http://192.168.1.207/dc1/Accueil.aspx" target="_blank">

                        <img class="card-img-top img-circle" src="~/Content/images/change1.jpg" style="width:130px;border-width:0px" />
                    </a>
                    <div>
                        <h4>Dem Changement</h4>
                    </div>

                </div>

            }
            if (User.IsInRole("Admin_Medicis") || User.IsInRole("DA"))
            {

                <div style="margin-left:3%;float:left;margin-top:5%;">
                    <a href="http://192.168.1.207/dc1/Accueil.aspx" target="_blank">

                        <img class="card-img-top img-circle" src="~/Content/images/change1.jpg" style="width:130px;border-width:0px" />
                    </a>
                    <div>
                        <h4>Dem Changement</h4>
                    </div>

                </div>

            }*@


            }


        </center>
    </div>


    <div>

        <center>
            <div class="col-md-12" style="padding-top:5%">
                <div class="copyright">
                    <p>Copyright © @DateTime.Now.Year - All rights reserved. by <a href="https://www.kilanigroupe.com/fr" style="color:blue" target="_blank">KILANI GROUPE</a>.</p>
                </div>
            </div>
        </center>
    </div>




    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>




