@*@model ClubMember.Models.MemberModel*@

@{
    ViewBag.Title = "ContactForm";
}


<head>

    <script type="text/javascript" src="prototype.js"></script>
    <script type="text/javascript" src="scriptaculous.js?load=effects"></script>
    <script type="text/javascript" src="lightbox.js"></script>
</head>


@using (Html.BeginForm("ContactForm", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>importer formation</h4>
    <hr />
    <table>
        <tr>
            <td>
                <input type="file" class="multiple" name="files" multiple />
            </td>
            <td>
                <input type="submit" value="Create" class="btn btn-default" />
            </td>
        </tr>
    </table>
    <br />
    <br />
   
    <center>
        @*<input type="submit" value="❮" onclick="location.href='@Url.Action("ContactForm1","Home")'" />
        <img id="img1" src="@TempData["imgg"]" style="border:solid;border-radius:10px;border-width:thin">
        <input type="submit" value="❯" onclick="location.href='@Url.Action("ContactForm","Home")'" />*@



        @Html.ActionLink("❮", "ContactForm1")
        <img id="img1" src="@TempData["imgg"]" style="border:solid;border-radius:10px;border-width:thin">
        @Html.ActionLink("❯", "ContactForm")


        @*<a href='@Url.Action("ContactForm1", "Home")'>
            <img src='@Url.Content("Images/prec.jfif")' />
        </a>

        <a href='@Url.Action("ContactForm", "Home")'>
            <img src='@Url.Content("Images/next.jfif")' />
        </a>*@

    </center>
</div>

    <br />
}

    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Consulter formation
    </button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-url='@Url.Action("ContactForm","Home")'>
    <div class="modal-dialog" role="document" style="width:900px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Ma formation</h4>
            </div>
            <div class="modal-body">
                <center>

                   

                    @Html.ActionLink("❮", "ContactForm1")
                    <img id="img1" src="@TempData["imgg"]" style="border:solid;border-radius:10px;border-width:thin">
                    @Html.ActionLink("❯", "ContactForm")

                </center>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="">Save changes</button>
            </div>
        </div>
    </div>
</div>

<br /><br />
      


<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        captionText.innerHTML = dots[slideIndex - 1].alt;
    }
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(function () {
            if(window.FileReader != null){
                $('#single').hide();
                $('.single').prop('disabled', true);
            } else {
                $('#multiple').hide();
                $('.multiple').prop('disabled', true);
            }
        });
    </script>
}  