@*@model IEnumerable<RHEVENT.Models.DA_Demandee>*@
@model RHEVENT.Models.DA_Demandee

@{
    ViewBag.Title = "Demande d'action";

}
<head>
    <style>
        .supp {
            width: auto;
            background-image: url(../Content/images/moins.jfif);
            cursor: pointer;
            background-repeat: no-repeat;
            background-color: transparent;
            border: unset;
        }

        .details {
            background-image: url(../Content/images/details.jfif);
            cursor: pointer;
            background-repeat: no-repeat;
            background-color: transparent;
            border: unset;
        }

        .edit {
            color: crimson;
            text-decoration: underline;
        }

        .width-textarea {
            max-width: 95%;
            width: 95%;
            border: solid;
            border-width: thin;
        }
    </style>
</head>

<br />

@Html.ValidationSummary(true, "", new { @class = "text-danger" })


<table class="table table-borderless">
    <tr>

        <td>
            @Html.LabelFor(model => model.dadem.TypeAchat)
        </td>

        <td colspan="3">
            @Html.DropDownListFor(model => model.dadem.TypeAchat, Model.dadem.TypesAchats, "Selectionnez le type d'achat pour cette demande", new { @class = "width-textarea form-control" })

            @*@Html.DropDownListFor(model => model.TypeAchat, new SelectList(Model.listesachats, "TypeAchat", "TypeAchat"), "Selectionnez le type d'achat pour cette demande", new { @class = "width-textarea form-control" })*@
            @Html.ValidationMessageFor(model => model.dadem.TypeAchat, "", new { @class = "text-danger" })
        </td>
    </tr>

    <tr>

        <td>
            @Html.LabelFor(model => model.dadem.TypeAction)
        </td>

        <td colspan="3">
            @Html.DropDownListFor(model => model.dadem.TypeAction, Model.dadem.TypesActions, "Selectionnez le type d'évenement de cette demande", new { @class = "width-textarea form-control" })

            @*@Html.DropDownListFor(model => model.TypeAction, new SelectList(Model.listesactions, "TypeAction", "TypeAction"), "Selectionnez le type d'évenement de cette demande", new { @class = "width-textarea form-control" })*@
            @Html.ValidationMessageFor(model => model.dadem.TypeAction, "", new { @class = "text-danger" })
        </td>
    </tr>


    <tr>

        <td>
            @Html.LabelFor(model => model.dadem.Labo)
        </td>

        <td colspan="3">
            @Html.DropDownListFor(model => model.dadem.Labo, Model.dadem.Laboratoires, "Selectionnez un laboratoire", new { @class = "width-textarea form-control" })

            @*@Html.DropDownListFor(model => model.Labo, new SelectList(Model.listesLabo, "Laboratoire", "Laboratoire"), "Selectionnez un laboratoire", new { @class = "width-textarea form-control" })*@
            @Html.ValidationMessageFor(model => model.dadem.Labo, "", new { @class = "text-danger" })
        </td>
    </tr>


    <tr>
        <td>
            @Html.LabelFor(model => model.dadem.Objet)
        </td>
        <td colspan="3">
            @Html.TextAreaFor(model => model.dadem.Objet, new { @class = "width-textarea" })
            @Html.ValidationMessageFor(model => model.dadem.Objet, "", new { @class = "text-danger" })
        </td>


    </tr>

    <tr>
        <td>
            @Html.LabelFor(model => model.dadem.Date_reception)
        </td>

        <td>
            @Html.EditorFor(model => model.dadem.Date_reception, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.dadem.Date_reception, "", new { @class = "text-danger" })
        </td>
        <td>
            @Html.LabelFor(model => model.dadem.Date_action)
        </td>
        <td>
            @Html.EditorFor(model => model.dadem.Date_action, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.dadem.Date_action, "", new { @class = "text-danger" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Mes demandes", "MesDemandes")
        </td>
        <td></td>
        <td></td>
        <td>
            <input type="submit" value="Enregistrer" class="btn btn-info" />
        </td>


    </tr>
</table>
<br />

<table class="table table-bordered table-responsive border-primary" style="font-size:12px">
    <tr style="background-color:aliceblue;text-align:center;vertical-align:central">
        <th>
            @Html.DisplayNameFor(model => model.dadem.Réference)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Demandeur)
            </th>*@

        <th>
            @Html.DisplayNameFor(model => model.dadem.Objet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dadem.Labo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dadem.Argumentaires)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dadem.Budget)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dadem.Date_demande)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dadem.Date_reception)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dadem.Date_action)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.dadem.listesDemandes)
    {

        <tr style="text-align:center;vertical-align:central">
            <td width="130px">
                @Html.ActionLink(item.Réference, "Edit", new { id = item.Id }, new { @class = "edit" })
                @*@Html.DisplayFor(modelItem => item.Réference)*@
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Demandeur)
                </td>*@

            <td>
                @Html.DisplayFor(modelItem => item.Objet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Labo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Argumentaires)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Budget)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_demande)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_reception)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_action)
            </td>
            <td width="100px">
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@

                <input type="submit" value="      " class="details" onclick="location.href='@Url.Action("Details","DA_Demande", new { id = item.Id })'" />
                @* <input type="submit" value="      " class="supp" onclick="location.href='@Url.Action("Delete","DA_Demande", new { id = item.Id })'" />*@
                <input type="submit" value="      " class="supp" data-toggle="modal" data-target="#myModal" />


            </td>
        </tr>
    }

</table>
