@*@model IEnumerable<RHEVENT.Models.DA_Demande>*@
@model RHEVENT.Models.DA_Demande

@{
    ViewBag.Title = "Mes Demandes d'action";

}
<head>
    <style>
        .supp {
            width: auto;
            background-image: url(../Content/images/moins.jfif);
            cursor: pointer;
            background-repeat: no-repeat;
            background-color: transparent;
            border: unset;
        }

        .budget {
            width: auto;
            background-image: url(../Content/images/budget.jfif);
            cursor: pointer;
            background-repeat: no-repeat;
            background-color: transparent;
            border: unset;
        }

        .labo {
            width: auto;
            background-image: url(../Content/images/p5.png);
            cursor: pointer;
            background-repeat: no-repeat;
            background-color: transparent;
            border: unset;
        }

        .materiels {
            width: auto;
            background-image: url(../Content/images/mat4.png);
            background-color: transparent;
            cursor: pointer;
            background-repeat: no-repeat;
            background-color: transparent;
            border: unset;
        }

        .details {
            background-image: url(../Content/images/detail.jfif);
            cursor: pointer;
            background-repeat: no-repeat;
            background-color: transparent;
            border: unset;
        }

        .edit {
            color: crimson;
            text-decoration: underline;
        }

        .width-textarea {
            max-width: 95%;
            width: 95%;
            border: solid;
            border-width: thin;
        }
    </style>
</head>

<table class="table table-bordered table-responsive border-primary" style="font-size:12px">
    <tr style="background-color:aliceblue;text-align:center;vertical-align:central">
        <th>
            @Html.DisplayNameFor(model => model.Réference)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Labo)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Budget)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_demande)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_reception)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_action)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Etat)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.listesDemandes)
    {

        <tr style="text-align:center;vertical-align:central">
            <td width="170px">
                @Html.ActionLink(item.Réference, "demande_dem", "DA_Demande", new { id = item.Réference, statut = item.Statut, dem = item.Demandeur }, new { @class = "edit" })

            </td>
            
            <td style="text-align:left">
                @Html.DisplayFor(modelItem => item.Labo)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Budget)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_demande)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_reception)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_action)
            </td>

            @if (item.Etat == "-1")
            {
                <td align="left" style="color:orangered">
                    <label>Non Envoyée</label>
                </td>
            }
            else if (item.Etat == "0")
            {
                <td align="left" style="color:blue">
                    <label>En attente</label>
                </td>
            }
           

            else
            {
                <td align="left">
                    Validée Par  @Html.DisplayFor(modelItem => item.Etat)
                </td>
            }


            <td width="160px">
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@

                @*<input type="submit" value="      " class="details" onclick="location.href='@Url.Action("Details","DA_Demande", new { id = item.Id })'" />*@
                @* <input type="submit" value="      " class="supp" onclick="location.href='@Url.Action("Delete","DA_Demande", new { id = item.Id })'" />*@
                @*<input type="submit" title="Matériels" value="      " class="materiels" name="@item.Réference" onclick="location.href='@Url.Action("Materiels_Dem","DA_Materiels_Dem", new { id = item.Réference })'" />*@
                <input type="submit" title="Détails Budget" value="      " class="budget" name="@item.Réference" onclick="location.href='@Url.Action("Budget_Dem","DA_Budget", new { id = item.Réference, statut = item.Statut, dem = item.Demandeur })'" />
                <input type="submit" title="Labo & Produits" value="      " class="labo" name="@item.Réference" onclick="location.href='@Url.Action("Produits_Dem","DA_ProduitsDem", new { id = item.Réference, statut = item.Statut, dem = item.Demandeur })'" />
                @*<input type="submit" title="Détails Demande" value="      " class="details" name="@item.Réference" onclick="location.href='@Url.Action("demande_dem","DA_Demande", new { id = item.Réference })'" />*@


            </td>
        </tr>
    }

</table>

