@*@model IEnumerable<RHEVENT.Models.DA_Demande>*@
@model RHEVENT.Models.DA_Demande

@{
    ViewBag.Title = "Demandes Traitées";

}

<head>
    <style>
        .supp {
            width: auto;
            background-image: url(../Content/images/moins.jfif);
            cursor: pointer;
            background-repeat: no-repeat;
            background-color: transparent;
            border: unset;
        }

        .budget {
            width: auto;
            background-image: url(../Content/images/budget.jfif);
            cursor: pointer;
            background-repeat: no-repeat;
            background-color: transparent;
            border: unset;
        }

        .labo {
            width: auto;
            background-image: url(../Content/images/p5.png);
            cursor: pointer;
            background-repeat: no-repeat;
            background-color: transparent;
            border: unset;
        }

        .materiels {
            width: auto;
            background-image: url(../Content/images/mat4.png);
            background-color: transparent;
            cursor: pointer;
            background-repeat: no-repeat;
            background-color: transparent;
            border: unset;
        }

        .details {
            background-image: url(../Content/images/detail.jfif);
            cursor: pointer;
            background-repeat: no-repeat;
            background-color: transparent;
            border: unset;
        }

        .edit {
            color: crimson;
            text-decoration: underline;
        }

        .width-textarea {
            max-width: 95%;
            width: 95%;
            border: solid;
            border-width: thin;
        }
    </style>
</head>

<h2>Demandes Traitées</h2>
<table class="table table-bordered table-responsive border-primary" style="font-size:12px">
    <tr style="background-color:aliceblue;text-align:center;vertical-align:central">
        <th>
            @Html.DisplayNameFor(model => model.Réference)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Labo)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.Budget)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_demande)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_reception)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_action)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Etat)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.listesDemandes)
    {

        <tr style="text-align:center;vertical-align:central">
            <td width="170px">
                @Html.ActionLink(item.Réference, "demande_dem1", "DA_Demande", new { id = item.Réference, rowid=item.Id }, new { @class = "edit" })
            </td>
           
            <td style="text-align:left">
                @Html.DisplayFor(modelItem => item.Labo)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Budget)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_demande)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_reception)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_action)
            </td>

            @if (item.Etat == "-1" && item.Statut == "-1" && item.AvecSans == "99")
            {
                <td align="left">
                    <label>A corriger</label>
                </td>
            }
            else if (item.Etat == "-1")
            {
                <td align="left">
                    <label>Non Envoyée</label>
                </td>
            }
            else if (item.Etat == "0")
            {
                <td align="left">
                    <label>Envoyée</label>
                </td>
            }

            else if (item.Etat == "100" && item.Statut == "100")
            {
                <td align="left">
                    <label>Demande Rejetée</label>
                </td>
            }

            else if ((item.Validee == "1") && (item.Etat == "66"))
            {
                <td align="left">
                    <label>En attente de réception</label>

                </td>
            }
            else if ((item.Validee == "1") && (item.Etat == "77"))
            {
                <td align="left">
                    <label>Réception Partielle</label>
                </td>
            }
            else if ((item.Validee == "1") && (item.Etat == "88"))
            {
                <td align="left">
                    <label>Réception totale</label>
                </td>
            }

            else
            {
                <td align="left">
                    Validée Par @Html.DisplayFor(modelItem => item.Etat)
                </td>
            }


        </tr>
    }

</table>
