@model RHEVENT.Models.DA_Demande

@{
    ViewBag.Title = "Modifier Demande d'action";

}
<head>
    <style>
       
    </style>
</head>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal" style="margin-left:7%">
    <h3 style="color:coral;margin-left:-1%;margin-top:-1%">Modifier Demande D'Action</h3>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Réference)
                @Html.EditorFor(model => model.Réference, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.Réference, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Demandeur)
                
                    @Html.EditorFor(model => model.Demandeur, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.Demandeur, "", new { @class = "text-danger" })
                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Gamme)
               
                    @Html.EditorFor(model => model.Gamme, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Gamme, "", new { @class = "text-danger" })
                
            </div>
        </div>

        <div class="col-lg-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Objet)
                
                    @Html.EditorFor(model => model.Objet, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Objet, "", new { @class = "text-danger" })
                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Cibles)
               
                    @Html.EditorFor(model => model.Cibles, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Cibles, "", new { @class = "text-danger" })
                
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Argumentaires)
               
                    @Html.EditorFor(model => model.Argumentaires, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Argumentaires, "", new { @class = "text-danger" })
               
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Budget)
               
                    @Html.EditorFor(model => model.Budget, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Budget, "", new { @class = "text-danger" })
               
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Date_demande)
                
                    @Html.EditorFor(model => model.Date_demande, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Date_demande, "", new { @class = "text-danger" })
                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Date_reception)
                
                    @Html.EditorFor(model => model.Date_reception, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Date_reception, "", new { @class = "text-danger" })
               
            </div>
        </div>

        <div class="col-lg-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Date_action)
                
                    @Html.EditorFor(model => model.Date_action, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Date_action, "", new { @class = "text-danger" })
                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div>
                @Html.ActionLink("Mes Demandes", "MesDemandes")
            </div>

        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                    @Html.ActionLink("Mes Demandes", "MesDemandes")
                </div>
            </div>
        </div>

    </div>
    
</div>
    }

   

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
