@model IEnumerable<RHEVENT.Models.E_listeUsr>
 

@{ 
                ViewBag.titre_page = "E-learning";
                ViewBag.email = ViewBag.email;
                ViewBag.nom_prenom = ViewBag.nom_prenom;
}

 
<h2 class="text" style="color:cornflowerblue">
    <span class="glyphicon   glyphicon-expand"> </span>
    Gestion de groupe de diffusion
</h2>

<br /><br />
 
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>
<body>
    <div>
        @Html.ActionLink("Retour à la liste des groupes", "Group", "E_GrpByUsr")
    </div>


    <h3 class="text" style="color:cornflowerblue">  <br />Liste des utilisateurs</h3>

    <div class="card border border-info " style="background-color:antiquewhite">
        <div class="card-header">
            @*  <strong class="card-title">  </strong>*@
        </div>
        <div class="card-body">
            <p class="card-text">
                <dl class="dl-horizontal ">

                    <dt>
                        Groupe :
                    </dt>
                    <dd>
                        @ViewBag.codeGrp
                    </dd>
                </dl>
            </p>
        </div>
    </div>


    <br />

   
    <br>
    <table class="table table-striped table-bordered " style="font-size:14px">
        <tr>
            <th style="color:blue">
                @Html.DisplayNameFor(model => model.Mat_usr)
            </th>
            <th style="color:blue">
                @Html.DisplayNameFor(model => model.Nom_usr)
            </th>

            <th style="color:blue">
                @Html.DisplayNameFor(model => model.Etat)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="color:black; font-size:12px">
                    @Html.DisplayFor(modelItem => item.Mat_usr)
                </td>
                <td style="color:black; font-size:12px">
                    @Html.DisplayFor(modelItem => item.Nom_usr)
                </td>
                <td style="color:black; font-size:12px">
                    @Html.DisplayFor(modelItem => item.Etat)
                </td>
            </tr>
        }

    </table>
</body>
</html>

