@model IEnumerable<RHEVENT.Models.DA_TypesAchats>

@{
    ViewBag.Title = "Index";
}

<h2>Les types d'achat</h2>

<p>
    @Html.ActionLink("Nouveau Type", "Create")
</p>
<br /> <br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeAchat)
        </th>
        <th>
                @Html.DisplayNameFor(model => model.Workflow)
            </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeAchat)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Workflow)
                </td>
            <td>
                @Html.ActionLink("Modifier", "Edit", new { id = item.Id }) |
                @*@Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
                @Html.ActionLink("Supprimer", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
