<!DOCTYPE html>
<html lang="fr">
<head>
    
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/csslayout.css" rel="stylesheet" type="text/css" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Chosen/chosen.min.css" rel="stylesheet" />

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        li {
            float: left;
        }

            li a {
                display: block;
                color: black;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }
    </style>
</head>


@*<body onload="openNav()">*@
<body>
    @*<div id="counter" style="visibility:hidden"></div>
        <div id="loggedout" style="display:none"></div>*@

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

        @if (Request.IsAuthenticated)
        {

            if (User.IsInRole("Admin_Medicis") || User.IsInRole("RH") || User.IsInRole("Elearning") || User.IsInRole("DA"))
            {
                <button class="dropdown-btn" onclick="location.href='@Url.Action("Index", "Home")'">
                    Accueil
                    <span class="fa-caret-down glyphicon glyphicon-align-left" aria-hidden="true"></span>

                </button>
                if (User.IsInRole("Admin_Medicis"))
                {

                    if ((ViewContext.RouteData.Values["controller"].ToString() == "ApplicationUsers") ||
                    (ViewContext.RouteData.Values["controller"].ToString() == "Role"))
                    {
                        <button class="dropdown-btn active">
                            Administration
                            <i class="fa-caret-down glyphicon glyphicon-arrow-down"></i>
                        </button>
                        <div class="dropdown-container1">
                            <a href="@Url.Action("Index", "Role")">Liste des roles</a>
                            <a href="@Url.Action("Index", "ApplicationUsers")">Liste des utilisateurs</a>
                            <a href="@Url.Action("Index", "FonctionsUsers")"><span class="role user">Liste des fonctions</span></a>

                        </div>
                    }
                    else
                    {
                        <button class="dropdown-btn">
                            Administration
                            <i class="fa-caret-down glyphicon glyphicon-arrow-down"></i>
                        </button>
                        <div class="dropdown-container">
                            <a href="@Url.Action("Index", "Role")">Liste des roles</a>
                            <a href="@Url.Action("Index", "ApplicationUsers")">Liste des utilisateurs</a>
                            <a href="@Url.Action("Index", "FonctionsUsers")"><span class="role user">Liste des fonctions</span></a>

                        </div>
                    }


                }

                if (User.IsInRole("RH") || User.IsInRole("Admin_Medicis"))
                {

                    if ((ViewContext.RouteData.Values["controller"].ToString() == "AdministrationRH") ||
                    (ViewContext.RouteData.Values["controller"].ToString() == "Demande") ||
                    (ViewContext.RouteData.Values["controller"].ToString() == "ExportEtat") ||
                    (ViewContext.RouteData.Values["controller"].ToString() == "Conge") ||
                    (ViewContext.RouteData.Values["controller"].ToString() == "Autorisation") ||
                    (ViewContext.RouteData.Values["controller"].ToString() == "Calendar") ||
                    (ViewContext.RouteData.Values["controller"].ToString() == "Calendrier_Direction") ||
                    (ViewContext.RouteData.Values["controller"].ToString() == "RhCongeMenu") ||
                    (ViewContext.RouteData.Values["controller"].ToString() == "RhAutorisationMenu") ||
                    (ViewContext.RouteData.Values["controller"].ToString() == "RhAttestationMenu"))
                    {
                        <button class="dropdown-btn active">
                            RH
                            <i class="fa-caret-down glyphicon glyphicon-play"></i>
                        </button>
                        <div class="dropdown-container1">
                            @if ((User.IsInRole("RH") && User.IsInRole("RH_Admin")) || User.IsInRole("Admin_Medicis"))
                            {
                                <a href="@Url.Action("Index", "AdministrationRH")">Administration RH</a>
                            }

                            @if ((User.IsInRole("RH") && User.IsInRole("RH_Admin")) || (User.IsInRole("RH") && User.IsInRole("RH_Employer")) || (User.IsInRole("RH") && User.IsInRole("RH_Superieur_Hiéarchique")) || (User.IsInRole("RH") && User.IsInRole("RH_Directeur")) || User.IsInRole("Admin_Medicis"))
                            {
                                <a href="@Url.Action("Index", "RhAttestationMenu")">Attestaions</a>
                            }

                            @if ((User.IsInRole("RH") && User.IsInRole("RH_Admin")) || (User.IsInRole("RH") && User.IsInRole("RH_Employer")) || (User.IsInRole("RH") && User.IsInRole("RH_Superieur_Hiéarchique")) || (User.IsInRole("RH") && User.IsInRole("RH_Directeur")) || User.IsInRole("Admin_Medicis"))
                            {
                                <a href="@Url.Action("Index", "RhAutorisationMenu")">Autorisation</a>
                            }

                            @if ((User.IsInRole("RH") && User.IsInRole("RH_Admin")) || (User.IsInRole("RH") && User.IsInRole("RH_Employer")) || (User.IsInRole("RH") && User.IsInRole("RH_Superieur_Hiéarchique")) || (User.IsInRole("RH") && User.IsInRole("RH_Directeur")) || User.IsInRole("Admin_Medicis"))
                            {
                                <a href="@Url.Action("Index", "RhCongeMenu")">Congés</a>
                            }

                            @if ((User.IsInRole("RH") && User.IsInRole("RH_Admin")) || (User.IsInRole("RH") && User.IsInRole("RH_Employer")) || (User.IsInRole("RH") && User.IsInRole("RH_Superieur_Hiéarchique")) || (User.IsInRole("RH") && User.IsInRole("RH_Directeur")) || User.IsInRole("Admin_Medicis"))
                            {
                                <a href="@Url.Action("Index", "Calendar")">Calendrier de service</a>
                            }

                            @if ((User.IsInRole("RH") && User.IsInRole("RH_Admin")) || (User.IsInRole("RH") && User.IsInRole("RH_Directeur")) || User.IsInRole("Admin_Medicis"))
                            {
                                <a href="@Url.Action("CalendrierDirection", "Calendar")">Calendrier de direction</a>
                            }

                        </div>
                    }
                    else
                    {
                        <button class="dropdown-btn">
                            RH
                            <i class="fa-caret-down glyphicon glyphicon-play"></i>
                        </button>
                        <div class="dropdown-container">
                            @if ((User.IsInRole("RH") && User.IsInRole("RH_Admin")) || User.IsInRole("Admin_Medicis"))
                            {
                                <a href="@Url.Action("Index", "AdministrationRH")">Administration RH</a>
                            }

                            @if ((User.IsInRole("RH") && User.IsInRole("RH_Admin")) || (User.IsInRole("RH") && User.IsInRole("RH_Employer")) || (User.IsInRole("RH") && User.IsInRole("RH_Superieur_Hiéarchique")) || (User.IsInRole("RH") && User.IsInRole("RH_Directeur")) || User.IsInRole("Admin_Medicis"))
                            {
                                <a href="@Url.Action("Index", "RhAttestationMenu")">Attestaions</a>
                            }

                            @if ((User.IsInRole("RH") && User.IsInRole("RH_Admin")) || (User.IsInRole("RH") && User.IsInRole("RH_Employer")) || (User.IsInRole("RH") && User.IsInRole("RH_Superieur_Hiéarchique")) || (User.IsInRole("RH") && User.IsInRole("RH_Directeur")) || User.IsInRole("Admin_Medicis"))
                            {
                                <a href="@Url.Action("Index", "RhAutorisationMenu")">Autorisation</a>
                            }

                            @if ((User.IsInRole("RH") && User.IsInRole("RH_Admin")) || (User.IsInRole("RH") && User.IsInRole("RH_Employer")) || (User.IsInRole("RH") && User.IsInRole("RH_Superieur_Hiéarchique")) || (User.IsInRole("RH") && User.IsInRole("RH_Directeur")) || User.IsInRole("Admin_Medicis"))
                            {
                                <a href="@Url.Action("Index", "RhCongeMenu")">Congés</a>
                            }

                            @if ((User.IsInRole("RH") && User.IsInRole("RH_Admin")) || (User.IsInRole("RH") && User.IsInRole("RH_Employer")) || (User.IsInRole("RH") && User.IsInRole("RH_Superieur_Hiéarchique")) || (User.IsInRole("RH") && User.IsInRole("RH_Directeur")) || User.IsInRole("Admin_Medicis"))
                            {
                                <a href="@Url.Action("Index", "Calendar")">Calendrier de service</a>
                            }

                            @if ((User.IsInRole("RH") && User.IsInRole("RH_Admin")) || (User.IsInRole("RH") && User.IsInRole("RH_Directeur")) || User.IsInRole("Admin_Medicis"))
                            {
                                <a href="@Url.Action("CalendrierDirection", "Calendar")">Calendrier de direction</a>
                            }

                        </div>
                    }


                }
                if (User.IsInRole("Admin_Medicis") || User.IsInRole("Elearning"))
                {


                    if ((ViewContext.RouteData.Values["controller"].ToString() == "EMenuFormateur") ||
                    (ViewContext.RouteData.Values["controller"].ToString() == "E_Formation") ||
                    (ViewContext.RouteData.Values["controller"].ToString() == "E_ListFormationDiffus") ||
                    (ViewContext.RouteData.Values["controller"].ToString() == "E_GrpByUsr") ||
                    (ViewContext.RouteData.Values["controller"].ToString() == "E_listeUsr") ||
                    (ViewContext.RouteData.Values["controller"].ToString() == "E_listFormationDiffus"))
                    {
                        <button class="dropdown-btn active">
                            E-learning
                            <i class="fa-caret-down glyphicon glyphicon-align-left"></i>
                        </button>

                        <div class="dropdown-container1">
                            @if (User.IsInRole("Admin_Medicis") || (User.IsInRole("Elearning") && User.IsInRole("Elearning_Admin")) || (User.IsInRole("Elearning") && User.IsInRole("Elearning_Formateur")))
                            {
                                <a href="@Url.Action("Index", "EMenuFormateur")">Gestion des formations </a>
                                <a href="@Url.Action("Group", "E_GrpByUsr")">Gestion grp de diffusion </a>
                                <a href="@Url.Action("Index", "EMenuEvaluation")">Gestion des évaluations </a>
                            }
                            @if (User.IsInRole("Admin_Medicis") || (User.IsInRole("Elearning") && User.IsInRole("Elearning_Admin")) || (User.IsInRole("Elearning") && User.IsInRole("Elearning_Employer")))

                            {
                                <a href="@Url.Action("Index", "EMenuFormUser")">Mes formations </a>
                            }
                            @if (User.IsInRole("Admin_Medicis") || (User.IsInRole("Elearning") && User.IsInRole("Elearning_Admin")) || (User.IsInRole("Elearning") && User.IsInRole("Elearning_Employer")))

                            {
                                <a href="@Url.Action("Index", "EMenuEvaluationUser")">Mes évaluations </a>
                            }

                        </div>
                    }
                    else
                    {
                        <button class="dropdown-btn">
                            E-learning
                            <i class="fa-caret-down glyphicon glyphicon-align-left"></i>
                        </button>

                        <div class="dropdown-container">
                            @if (User.IsInRole("Admin_Medicis") || (User.IsInRole("Elearning") && User.IsInRole("Elearning_Admin")) || (User.IsInRole("Elearning") && User.IsInRole("Elearning_Formateur")))
                            {
                                <a href="@Url.Action("Index", "EMenuFormateur")">Gestion des formations </a>
                                <a href="@Url.Action("Group", "E_GrpByUsr")">Gestion grp de diffusion </a>
                                <a href="@Url.Action("Index", "EMenuEvaluation")">Gestion des évaluations </a>
                            }
                            @if (User.IsInRole("Admin_Medicis") || (User.IsInRole("Elearning") && User.IsInRole("Elearning_Admin")) || (User.IsInRole("Elearning") && User.IsInRole("Elearning_Employer")))

                            {
                                <a href="@Url.Action("Index", "EMenuFormUser")">Mes formations </a>
                            }
                            @if (User.IsInRole("Admin_Medicis") || (User.IsInRole("Elearning") && User.IsInRole("Elearning_Admin")) || (User.IsInRole("Elearning") && User.IsInRole("Elearning_Employer")))

                            {
                                <a href="@Url.Action("Index", "EMenuEvaluationUser")">Mes évaluations </a>
                            }

                        </div>
                    }



                }
                if (User.IsInRole("DA") || User.IsInRole("DA_N1") || User.IsInRole("DA_DGA") || User.IsInRole("DA_Demandeur") || User.IsInRole("Admin_Medicis"))
                {


                    if ((ViewContext.RouteData.Values["controller"].ToString() == "DA_Demande") ||
                    (ViewContext.RouteData.Values["controller"].ToString() == "DA_TypesAchats") ||
                    (ViewContext.RouteData.Values["controller"].ToString() == "DA_TypesActions") ||
                    (ViewContext.RouteData.Values["controller"].ToString() == "DA_ListesGammes") ||
                    (ViewContext.RouteData.Values["controller"].ToString() == "DA_Labo") ||
                    (ViewContext.RouteData.Values["controller"].ToString() == "DA_Fournisseurs") ||
                    (ViewContext.RouteData.Values["controller"].ToString() == "DA_Materiels") ||
                    (ViewContext.RouteData.Values["controller"].ToString() == "DA_Budget") ||
                    (ViewContext.RouteData.Values["controller"].ToString() == "DA_Materiels_Dem") ||
                    (ViewContext.RouteData.Values["controller"].ToString() == "DA_Produits") ||
                    (ViewContext.RouteData.Values["controller"].ToString() == "DA_ProduitsDem") ||
                    (ViewContext.RouteData.Values["controller"].ToString() == "DA_WorkflowTypAch") ||
                    (ViewContext.RouteData.Values["controller"].ToString() == "MotifsRejets"))
                    {
                        //onclick = "location.href='@Url.Action("Create","DA_Demande")'"
                        <button class="dropdown-btn active">
                            Demandes d'Action
                            <i class="fa-caret-down glyphicon glyphicon-arrow-down"></i>
                        </button>
                        <div class="dropdown-container1">

                            <a href="@Url.Action("Create", "DA_Demande")">Ajouter Demande</a>
                            @*<a href="@Url.Action("DemandesAll", "DA_Demande")">Demandes Traitées</a>*@
                            @if (Session["nb1"] != null && Session["nb1"].ToString() != "0")
                            {
                            <a href="@Url.Action("MesDemandes", "DA_Demande")">Mes Demandes <span style="color:red">(@Session["nb1"].ToString())</span></a>
                            }
                            else
                            {
                                <a href="@Url.Action("MesDemandes", "DA_Demande")">Mes Demandes</a>
                            }
                            
                            @*<a href="@Url.Action("DemendesEnAttente1", "DA_Demande")">Approubation N+1</a>*@
                            @if (Session["nb"] != null && Session["nb"].ToString() != "0")
                            {
                                <a href="@Url.Action("DemendesEnAttente", "DA_Demande")">Demandes à Approuver <span style="color:red">(@Session["nb"].ToString())</span></a>
                            }
                            else
                            {
                                <a href="@Url.Action("DemendesEnAttente", "DA_Demande")">Demandes à Approuver</a>
                            }
                            <a href="@Url.Action("Index", "DA_TypesAchats")">Types d'achats</a>
                            <a href="@Url.Action("Index", "DA_TypesActions")">Types d'actions</a>
                            @*<a href="@Url.Action("Index", "DA_ListesGammes")">Liste des Gammes</a>*@

                            <div class="dropdown-divider"></div>
                            <a href="@Url.Action("Index", "DA_Labo")">Liste Loboratoires</a>
                            <a href="@Url.Action("Index", "DA_Fournisseurs")">Liste Fournisseurs</a>
                            <a href="@Url.Action("Index", "DA_Materiels")">Liste Articles</a>
                            <a href="@Url.Action("Index", "DA_Produits")">Liste Produits</a>
                            <a href="@Url.Action("Index", "MotifsRejets")">Motifs de Rejet</a>
                        </div>

                    }
                    else
                    {
                        <button class="dropdown-btn">
                            Demandes d'Action
                            <i class="fa-caret-down glyphicon glyphicon-arrow-down"></i>
                        </button>
                        <div class="dropdown-container">
                            <a href="@Url.Action("Create", "DA_Demande")">Ajouter Demande</a>
                            @*<a href="@Url.Action("DemandesAll", "DA_Demande")">Demandes Traitées</a>*@
                            <a href="@Url.Action("MesDemandes", "DA_Demande")">Mes Demandes</a>
                            @*<a href="@Url.Action("DemendesEnAttente1", "DA_Demande")">Approubation N+1</a>*@
                            <a href="@Url.Action("DemendesEnAttente", "DA_Demande")">Demandes à Approuver</a>
                            <a href="@Url.Action("Index", "DA_TypesAchats")">Types d'achats</a>
                            <a href="@Url.Action("Index", "DA_TypesActions")">Types d'actions</a>

                            <div class="dropdown-divider"></div>
                            <a href="@Url.Action("Index", "DA_Labo")">Liste Loboratoires</a>
                            <a href="@Url.Action("Index", "DA_Fournisseurs")">Liste Fournisseurs</a>
                            <a href="@Url.Action("Index", "DA_Materiels")">Liste Articles</a>
                            <a href="@Url.Action("Index", "DA_Produits")">Liste Produits</a>
                            <a href="@Url.Action("Index", "MotifsRejets")">Motifs de Rejet</a>
                        </div>
                    }

                }



            }

        }


    </div>
    <div id="main">
        <div class="menu" style="height:6.5%;overflow:unset">
            <div style="width:20%;float:left">
                <span style="font-size:30px;cursor:pointer;z-index:5" onclick="openNav()">&#9776;</span>
            </div>
            <div style="width:80%;float:left">

                <ul>
                    @*<li style="float:right"><a class="active" href="#">@ViewBag.nom_prenom</a></li>*@

                    <li style="float:right"><a href="@Url.Action("LogOut","Account")">Déconnexion</a></li>
                    <li style="float:right"><a href="@Url.Action("ChangePasswordByUser", "ApplicationUsers")">Mon compte</a></li>
                    <li style="float:right"><a href="#">@Session["userconnecté"].ToString()</a></li>

                </ul>
            </div>
        </div>
        <br />

        @RenderBody()
        <br />
        <hr />
        <div style="float:none">
            <center>
                <p>Copyright © @DateTime.Now.Year - All rights reserved. by <a href="https://www.kilanigroupe.com/fr" style="color:blue" target="_blank">KILANI GROUPE</a>.</p>
                @*<p>Copyright © @DateTime.Now.Year TERIAK. All rights reserved. by <a href="http://www.teriak.com/Fr/" style="color:blue" target="_blank">TERIAK</a>.</p>*@
            </center>
        </div>
    </div>

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "20%";
            document.getElementById("main").style.marginLeft = "20%";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }
    </script>
    <script>
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;

        for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                    dropdownContent.style.display = "none";

                } else {
                    dropdownContent.style.display = "block";
                }
            });
        }
    </script>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/chosen.jquery.min.js"></script>

    @*<script>
            var initCountdownValue = 10;
            var inactivityCountdown = initCountdownValue;
            $(document).ready(function () {

                $(document).delegate("#Login", "click", function (e) {
                    location.reload();
                });

                function Logout() {
                    window.location.href = "../Account/Login";
                }

                var intervalid = window.setInterval(function Redirect() {
                    inactivityCountdown--;
                    $("#counter").text(inactivityCountdown.toString());
                    if (inactivityCountdown < 1) {
                        clearInterval(intervalid);
                        Logout();
                    }
                }, 1 * 1000);

                document.onmousemove = function () {
                    inactivityCountdown = initCountdownValue;
                };
                document.onkeypress = function () {
                    inactivityCountdown = initCountdownValue;
                };


            });
        </script>*@


    @RenderSection("scripts", required: false)
</body>
</html>
