@model IEnumerable<RHEVENT.Models.E_ResultQCM>


@{
    ViewBag.Title = "Gestion des évaluations";
}
@{
    ViewBag.titre_page = "E-learning";
    ViewBag.email = ViewBag.email;
    ViewBag.nom_prenom = ViewBag.nom_prenom;
}



<h2 class="text" style="color:cornflowerblue">
    <span class="glyphicon   glyphicon-expand"> </span>
    Gestion des évaluations - Résultat de  QCM
</h2>
<br />
 
<html> 
<body>



    @foreach (var item in Model)
    {

        <div class="col-lg-12" style="color:blue; font-size:14px">
            <strong>  @Html.DisplayNameFor(model => model.Question) :  @Html.DisplayFor(modelItem => item.Question)</strong>
        </div>


        if (item.Reponse1 == item.ReponseUser && item.EtatRep1 == "Vrai")
        {

            <div class="col-lg-12">
                <img src="~/Content/images/vrai.jpg" style="border-width:0px;" class="img-circle" />
                <strong style="color:limegreen ; font-size:14px ; margin-left:12px">   @Html.DisplayFor(modelItem => item.Reponse1)</strong>
            </div>
        }

        if (item.Reponse1 == item.ReponseUser && item.EtatRep1 == "Faux")
        {
            <div class="col-lg-12">
                <img src="~/Content/images/faux.png" style="border-width:0px;" class="img-circle" />
                <strong style="color:red ; font-size:14px ; margin-left:12px"> @Html.DisplayFor(modelItem => item.Reponse1)</strong>
            </div>
        }

        if (item.Reponse1 != item.ReponseUser )
        {
            <div class="col-lg-12" style="color:black ; font-size:14px ; margin-left:30px">
                @Html.DisplayFor(modelItem => item.Reponse1)
            </div>
        }

        if (item.Reponse1 != item.ReponseUser && item.EtatRep1 == "Vrai")
        {
            <div class="col-lg-12">
                <img src="~/Content/images/vrai.jpg" style="border-width:0px;" class="img-circle" />
                <strong style="color:limegreen ; font-size:14px ; margin-left:12px"> @Html.DisplayFor(modelItem => item.Reponse1) <br /> </strong>
            </div>
        }


        if (item.Reponse2 == item.ReponseUser && item.EtatRep2 == "Vrai")
        {
            <div class="col-lg-12">
                <img src="~/Content/images/vrai.jpg" style="border-width:0px;" class="img-circle" />
                <strong style="color:limegreen ; font-size:14px ; margin-left:12px"> @Html.DisplayFor(modelItem => item.Reponse2)</strong>
            </div>
        }

        if (item.Reponse2 == item.ReponseUser && item.EtatRep2 == "Faux")
        {
            <div class="col-lg-12">
                <img src="~/Content/images/faux.png" style="border-width:0px;" class="img-circle" />
                <strong style="color:red ; font-size:14px ; margin-left:12px"> @Html.DisplayFor(modelItem => item.Reponse2)</strong>
            </div>
        }

        if (item.Reponse2 != item.ReponseUser)
        {
            <div class="col-lg-12" style="color:black ; font-size:14px ; margin-left:30px">
                @Html.DisplayFor(modelItem => item.Reponse2)
            </div>
        }

        if (item.Reponse2 != item.ReponseUser && item.EtatRep2 == "Vrai")
        {
            <div class="col-lg-12">
                <img src="~/Content/images/vrai.jpg" style="border-width:0px;" class="img-circle" />
                <strong style="color:limegreen ; font-size:14px ; margin-left:12px"> @Html.DisplayFor(modelItem => item.Reponse2) <br /></strong>
            </div>
        }

        if (item.Reponse3.ToString() == "")
        {
            <div class="col-lg-12"  style="visibility:hidden">
                <img src="~/Content/images/vrai.jpg" style="border-width:0px;" class="img-circle" />
                <strong style="color:limegreen ; font-size:14px ; margin-left:12px"> @Html.DisplayFor(modelItem => item.Reponse3)</strong>
            </div>
        }

        if (item.Reponse3 == item.ReponseUser && item.EtatRep3 == "Vrai")
        {
            <div class="col-lg-12">
                <img src="~/Content/images/vrai.jpg" style="border-width:0px;" class="img-circle" />
                <strong style="color:limegreen ; font-size:14px ; margin-left:12px"> @Html.DisplayFor(modelItem => item.Reponse3)</strong>
            </div>
        }

        if (item.Reponse3 == item.ReponseUser && item.EtatRep3 == "Faux")
        {
            <div class="col-lg-12">
                <img src="~/Content/images/faux.png" style="border-width:0px;" class="img-circle" />
                <strong style="color:red ; font-size:14px ; margin-left:12px">@Html.DisplayFor(modelItem => item.Reponse3)</strong>
            </div>
        }

        if (item.Reponse3 != item.ReponseUser && item.Reponse3 != null)
        {
            <div class="col-lg-12" style="color:black ; font-size:14px ; margin-left:30px">
                @Html.DisplayFor(modelItem => item.Reponse3)
            </div>
        }
        if (item.Reponse3 != item.ReponseUser && item.EtatRep3 == "Vrai")
        {
            <div class="col-lg-12">
                <img src="~/Content/images/vrai.jpg" style="border-width:0px;" class="img-circle" />
                <strong style="color:limegreen ; font-size:14px ; margin-left:12px"> @Html.DisplayFor(modelItem => item.Reponse3) <br /></strong>
            </div>
        }

        if (item.Reponse4.ToString() == "")
        {
            <div class="col-lg-12" style="visibility:hidden">
                <img src="~/Content/images/vrai.jpg" style="border-width:0px;" class="img-circle" />
                <strong style="color:limegreen ; font-size:14px ; margin-left:12px"> @Html.DisplayFor(modelItem => item.Reponse4)</strong>
            </div>
        }

        if (item.Reponse4 == item.ReponseUser && item.EtatRep4 == "Vrai")
        {
            <div class="col-lg-12">
                <img src="~/Content/images/vrai.jpg" style="border-width:0px;" class="img-circle" />
                <strong style="color:limegreen ; font-size:14px ; margin-left:12px"> @Html.DisplayFor(modelItem => item.Reponse4)</strong>
            </div>
        }

        if (item.Reponse4 == item.ReponseUser && item.EtatRep4 == "Faux")
        {
            <div class="col-lg-12">
                <img src="~/Content/images/faux.png" style=" border-width:0px;" class="img-circle" />
                <strong style="color:red ; font-size:14px ; margin-left:12px"> @Html.DisplayFor(modelItem => item.Reponse4)</strong>
            </div>
        }

        if (item.Reponse4 != item.ReponseUser &&   item.Reponse4 != null)
        {
            <div class="col-lg-12" style="color:black ; font-size:14px ; margin-left:30px">
                @Html.DisplayFor(modelItem => item.Reponse4)  <br />
            </div>
        }

        if (item.Reponse4 != item.ReponseUser && item.EtatRep4 == "Vrai")
        {
            <div class="col-lg-12">
                <img src="~/Content/images/vrai.jpg" style=" border-width:0px;" class="img-circle" />
                <strong style="color:limegreen ; font-size:14px ; margin-left:12px"> @Html.DisplayFor(modelItem => item.Reponse4) <br /></strong>
            </div>
        }
        <br /> <br />
    }




    <div class="col-lg-12" style="margin-left:200px; font-size:25px">
        @if (ViewBag.Valid == "Valide")
        {
            <br /> <strong style="color:forestgreen">Score : @ViewBag.Score  <label>%</label>  @ViewBag.Valid</strong>
        }
        else if (ViewBag.Valid == "Invalide")
        {
            <br /> <strong style="color:red">Score : @ViewBag.Score <label>%</label>   @ViewBag.Valid</strong>
        }
    </div>



    <div class="col-lg-12  ">
        <br /> <br />
        <button class="btn btn-danger" style="color:white ; background-color:gold"> @Html.ActionLink("Terminer", "Terminer", "E_QCM", new { codeEval = @ViewBag.CodeEval, score = @ViewBag.Score, valide = @ViewBag.Valid }, null)</button>


    </div>
</body>
</html>
