@model IEnumerable<RHEVENT.Models.ApplicationUser>


@{
    ViewBag.titre_page = "Administration";
    ViewBag.email = ViewBag.email;
    ViewBag.nom_prenom = ViewBag.nom_prenom;
}

<h2 class="text " style="color:red">
    <span class=" glyphicon glyphicon-user"> </span>
    Liste des utilisateurs
</h2>

<br />

<p class="btn btn-link btn-lg active" style="font-size:medium">
    @Html.ActionLink("Créer un utilisateur", "Create")
</p>
<div class="col-lg-12">
    <font size="2">
        <table class="table" style="text-align:center">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.prenom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.matricule)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.prenom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.matricule)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>

                    <td>
                        <span class="badge badge-danger" style="color:blue;background-color:bisque"> @Html.ActionLink("Modifier", "Edit", new { id = item.Id }) </span>|
                        <span class="badge badge-danger" style="color:blue;background-color:aliceblue"> @Html.ActionLink("Détails", "Details", new { id = item.Id }) </span> |
                        <span class="badge badge-danger" style="color:blue;background-color:bisque"> @Html.ActionLink("Supprimer", "Delete", new { id = item.Id })</span> |
                        <span class="badge badge-danger" style="color:blue;background-color:aliceblue">  @Html.ActionLink("Mot de passe", "ChangePassword", new { id = item.Id }) </span>|


                        <span class="badge badge-danger" style="color:blue;background-color:bisque"> @Html.ActionLink("Gérer le rôle", "ManageUserRoles", new { id = item.Id }) </span>
                        @*<span class="badge badge-light" style="color:blue"> @Html.ActionLink("Role", "RoleIndex", new { id = item.Id })</span>*@
                    </td>
                </tr>
            }

        </table>
    </font>

</div>
