@model IEnumerable<RHEVENT.Models.E_listeUsr>


@{
    ViewBag.Title = " Gestion de groupe de diffusion";
}

@{
    ViewBag.titre_page = "E-learning";
    ViewBag.email = ViewBag.email;
    ViewBag.nom_prenom = ViewBag.nom_prenom;
}



<h2 class="text" style="color:cornflowerblue">
    <span class="glyphicon   glyphicon-expand"> </span>
    Gestion de groupe de diffusion
</h2>
<br /><br />


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>
<body>
    <div  >
        @Html.ActionLink("Retour à la liste des groupes", "Group", "E_GrpByUsr")
    </div>


    <h3 class="text" style="color:cornflowerblue">  <br />Liste des utilisateurs</h3>

    <div class="card border border-info " style="background-color:gold">
        <div class="card-header">
            @*  <strong class="card-title">  </strong>*@
        </div>
        <div class="card-body">
            <p class="card-text">
                <dl class="dl-horizontal ">

                    <dt>
                        Groupe :
                    </dt>
                    <dd>
                        @ViewBag.codeGrp
                    </dd>
                </dl>
            </p>
        </div>
    </div>


    <p style="color:red">
        @using (Html.BeginForm("Create", "E_listeUsr"))
        {

            TempData["Data2"] = ViewBag.codeGrp;

            <div style="color:red">  @Html.ActionLink("Ajouter utilisateur", "CreateUsrGrp", "E_listeUsr")</div>
        }
    </p>


    <br />
    <table class="table table-striped table-bordered " style="font-size:14px">
        <tr>
            <th style="color:blue">
                @Html.DisplayNameFor(model => model.Mat_usr)
            </th>
            <th style="color:blue">
                @Html.DisplayNameFor(model => model.Nom_usr)
            </th>
            <th style="color:blue">
                @Html.DisplayNameFor(model => model.Etat)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td style="color:black; font-size:12px">
                @Html.DisplayFor(modelItem => item.Mat_usr)
            </td>
            <td style="color:black; font-size:12px">
                @Html.DisplayFor(modelItem => item.Nom_usr)
            </td>

            <td style="color:black; font-size:12px">
                @Html.DisplayFor(modelItem => item.Etat)
            </td>

            <td style="color:red">
                @using (Html.BeginForm("DeleteUsrGrp", "E_listeUsr"))
                {
                    @Html.ActionLink("Supprimer", "DeleteUsrGrp", "E_listeUsr", new { id = item.Id }, null)
                }
            </td>


        </tr>
        }

    </table>
</body>
</html>

