@model RHEVENT.Models.Dictionnaire

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Dictionnaire</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.table)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.table)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.champ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.champ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valeur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valeur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.signification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.signification)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
