@model RHEVENT.Models.MotifsRejet

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MotifsRejet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MotifRejet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotifRejet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Conséquense)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conséquense)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
